@import "../../../styles/mixin.scss";

.b-vol {
  &-reset{
    @include flex-row-center-center();
    width: 100%;
    margin:20px 0;
    &-btn {
      width: 380px;
      height: 90px;
      border: 2px solid #d0ac58;
      border-radius: 45px;
      line-height: 90px;
      text-align: center;
      font-size: 32px;
      font-family: PingFang SC;
      font-weight: bold;
      color: #d0ac58;
    }
  }
  
}
