@import "../../../../styles/mixin.scss";

.b-vol-payment-view {
  @include flex-column();
}
.b-vol-payment {
  @include flex-row();
  margin: 50px 25px 0;
  &-item {
    @include flex-column();
    flex: 1;
    padding: 50px 38px;
    background-color: #000;
    color: #e5cea1;
    border-radius: 20px;
    &:nth-of-type(1) {
      margin-right: 20px;
    }
    &-name {
      font-size: 32px;
      font-weight: 800;
      margin-bottom: 16px;
    }
    &-desc {
      font-size: 26px;
      color: #999999;
      margin-bottom: 16px;
    }
    &-price {
      @include flex-row-center();
      font-size: 58px;
      font-weight: bold;
      color: #e5cea1;
      line-height: 58px;
    }
    &-money {
      margin-top: 8px;
      font-size: 28px;
      font-weight: 400;
      color: #e5cea1;
    }
    &-exact {
      font-size: 24px;
      color: #999999;
    }
  }
  &-item.actived {
    color: #333333;
    background: linear-gradient(140deg, #ebd9b4, #e2c998);
    .b-vol-payment-item-desc,
    .b-vol-payment-item-exact {
      color: #666;
    }
    .b-vol-payment-item-price,
    .b-vol-payment-item-money {
      color: #333333;
    }
  }
  &-btn {
    height: 90px;
    line-height: 90px;
    text-align: center;
    background: #d0ac58;
    border-radius: 45px;
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    margin: 30px 25px 0;
  }
  &-chance {
    margin-top: 30px;
    font-size: 28px;
    color: #d0ac58;
    text-align: center;
  }
}

.b-vol-contact {
  @include flex-column();
  @include shadow-radius();
  margin: 50px 25px 0;
  background-color: $white-color;
  &-top {
    @include flex-row-center-between();
    padding: 30px;
  }
  &-title {
    position: relative;
    font-size: 32px;
    font-weight: bold;
    color: #333333;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
    &::before {
      @include column-line();
      left: -8px;
      width: 8px;
      background: #d0ac58;
    }
  }
  &-desc {
    font-size: 26px;
    color: #ea4438;
  }
  &-content {
    padding: 30px 0 50px;
  }
}
