@import "../../../../styles/mixin.scss";

.b-vol-contact {
  @include flex-column();
  @include shadow-radius();
  margin: 50px 25px 0;
  background-color: $white-color;
  &-top {
    @include flex-row-center-between();
    padding: 30px;
  }
  &-title {
    position: relative;
    font-size: 32px;
    font-weight: bold;
    color: #333333;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
    &::before {
      @include column-line();
      left: -8px;
      width: 8px;
      background: #d0ac58;
    }
  }
  &-desc {
    font-size: 26px;
    color: #ea4438;
  }
  &-content {
    padding: 30px 0 50px;
    .b-form-item{
      justify-content: center;
      padding-right: 90px;
    }
  }
}
