@import '../../styles/mixin.scss';

.b-tab-bar{
  width: 100%;
  $tabH:86px;
  @include flex-row-center-between();
  height: $tabH;
  background: #FFFFFF;
  .tab-item{
    @include flex-row-center-center();
    padding:0 5px;
    margin:0 25px;
    height: $tabH;
    line-height: $tabH;
    font-size: 28px;
    color: #666666;
    position: relative;
    &.active{
      color: #333333;
      &::after{
        @include row-line();
        height: 6px;
        top:53px;
        background: #EA4438;
      }
    }
  }
}