@import '../../styles/mixin.scss';

.b-card{
  &-main{
    width: 100%;
    @include flex-column();
    @include shadow-radius();
    background-color: $white-color;
    margin-bottom:20px;
  }
  &-options{
    width: 100%;
    height: 98px;
    @include flex-row-center-between();
    .left{
      @include flex-row-center();
      margin-left:40px;
      .icon{
        $icon:37px;
        height: $icon;
        width:$icon;
        margin-right:8px;
      }
      .label{
        font-size: 32px;
        font-family: PingFang SC;
        font-weight: bold;
        color: #333333;
      }
    }
  }
  &-content{
    width: 100%;
    box-sizing: border-box;
    padding:32px 40px;
  }
}