@import "../../../../styles/mixin.scss";

.b-vol-test {
  @include flex-column();
  @include shadow-radius();
  margin: 20px 25px 0;
  background-color: $white-color;
  &-options {
    @include flex-row-center-center();
    position: relative;
    padding: 30px 0;
    &::after {
      @include row-line();
      bottom: 0;
      background-color: #ccc;
    }
  }
  &-edit {
    height: 38px;
    width: 38px;
  }
  &-content {
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    @include flex-column();
  }
  &-local,
  &-score-text {
    font-size: 28px;
    color: #333333;
  }
  &-score {
    @include flex-row-center();
    margin: 25px 0;
  }
  &-score-num {
    font-size: 36px;
    font-weight: bold;
    color: #333333;
    margin-right: 10px;
  }
  &-subject {
    padding: 4px 12px;
    background-color: $primary-bg;
    color: $primary-color;
    font-size: 28px;
    margin-left: 10px;
  }
  &-all-score {
    @include flex-row-center-between();
    &-item {
      @include flex-column-center-center();
      font-size: 28px;
      color: #333333;
      & > view:nth-of-type(1) {
        color: #666666;
        margin-bottom: 12px;
      }
    }
  }
  &-traslate {
    padding: 30px 0;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #333333;
  }
}
