@import "../../styles/mixin.scss";

.b-select-view {
  @include flex-row-center();
  .b-select-label {
    font-size: 28px;
    color: #333;
    margin-right: 5px;
  }
  .b-select-content {
    @include flex-row-center-between();
    background-color: $bg-color;
    padding: 30px;
    flex: 1;
    .b-select-value {
      font-size: 28px;
      color: #666666;
      margin-right: 5px;
    }
    .b-select-icon {
      width: 20px;
      height: 20px;
      transition: all 0.2s ease;
    }
  }
}
