@import "../../../styles/mixin.scss";

.b-user-record {
  .step-view {
    @include flex-column();
    @include shadow-radius();
    margin: 20px 25px 100px;
    border-radius: 20px;
    overflow: hidden;
    .step-items {
      @include flex-row();
      height: 86px;
      .item {
        @include flex-row-center-center();
        flex: 1;
        background-color: rgba(234, 68, 56, 0.5);
        &.checked {
          background-color: #ea4438;
        }
        .index {
          width: 40px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          background: #ffffff;
          border-radius: 50%;
          font-size: 32px;
          color: #ea4438;
          margin-right: 6px;
        }
        .name {
          font-size: 28px;
          color: #ffffff;
        }
      }
    }
    .step-content {
      @include flex-column();
      width: 100%;
      background-color: $white-color;
      .main {
        @include flex-column();
        padding: 50px 0 50px 50px;
        .step-input {
          padding: 30px;
          width: 420px;
          font-size: 28px;
          height: 28px;
          color: #666666;
          background: #f9f9f9;
        }
        .step-select {
          &-item {
            @include flex-row-center-center();
            width: 200px;
            //min-width: 200rpx;
            padding: 30px 0;
            background: #f9f9f9;
            margin-right: 20px;
            &:nth-of-type(even) {
              margin-right: 0;
            }
            &:nth-of-type(n+3) {
              margin-top: 30px;
            }
            &-text {
              font-size: 28px;
              color: #666666;
            }
            &.checked {
              background-color: rgba(234, 68, 56, 0.2);
              color: $primary-color;
            }
          }
        }
      }
    }
  }
  .btn {
    @include flex-row-center-center();
    margin: 0 25px 60px;
    height: 100px;
    background: rgba(234, 68, 56, 1);
    border-radius: 20px;
    opacity: 0.5;
    &.can-click {
      opacity: 1;
    }
    .text {
      font-size: 32px;
      font-weight: bold;
      color: #ffffff;
    }
  }
}
