@import "../../styles/mixin.scss";

$icon:37px;
       
.b-mine{
  padding-bottom:80px;
  &-top{
    background-color: $white-color;
    padding:30px 25px 0;
  }
  &-bottom{
    padding:0 25px;
  }
  &-numbers{
    width: 100%;
    @include flex-row();
    padding:60px 0;
    .items{
      flex:1;
      @include flex-column-center-center();
      .num{
        font-size: 31px;
        font-family: PingFang SC;
        font-weight: bold;
        color: #333333;
      }
      .label{
        font-size: 27px;
        font-family: PingFang SC;
        font-weight: 500;
        color: #333333;
      }
    }
  }

  &-vip-banner{
    width: 100%;
    @include flex-column();
    .vip-banner{
      width: 100%;
    }
    margin-bottom: 20px;
  }

  &-information{
    width: 100%;
    @include flex-column();
    .info-item{
      width: 100%;
      margin-bottom:40px;
      &:last-of-type{
        margin-bottom: 0;
      }
      @include flex-row-center();
      .label{
        font-size: 28px;
        font-weight: bold;
        color: #333333;
      }
      .items{
        font-size: 28px;
        // height: 38px;
        // line-height: 38px;
        //background: #EEEEEE;
        border-radius: 18px;
        margin:0 12px;
        color:#333333;
      }
    }
  }

  &-twice-enter{
    //margin-top:32px;
    width: 100%;
    @include flex-row-center-between();
    .enter-item{
      height: 170px;
      @include shadow-radius();
      flex:1;
      background-color: #fff;
      @include flex-column-center-center();
      &:last-of-type{
        margin-left:20px;
      }
      .num{
        font-size: 37px;
        font-family: PingFang SC;
        font-weight: bold;
        color: #EA4438;
        margin-bottom:10px;
        @include flex-row-center-center();
        .plus{
          font-size: 26px;
          text-indent: 4px;
          line-height: 20px;
        }
      }
      .label{
        @include flex-row-center-center();
        .icon{
          height: $icon;
          width: $icon;
          margin-right:8px;
        }
        .text{
          font-size: 27px;
          font-family: PingFang SC;
          font-weight: bold;
          color: #333333;
        }
      }
    }
  }
  &-contact{
    font-size: 27px;
    color: #333333;
    @include flex-row-center-center();
    margin-top:100px;
    .copy{
      font-size: 18px;
    }
  }
}