@import "../../styles/mixin.scss";

.b-table {
  @include flex-column();
  width: 100%;
  &-thead {
    @include flex-row-center();
    width: 100%;
    background: #ea4438;
    .th {
      font-size: 24px;
      flex: 1;
      padding: 30px 8px;
      color: #fff;
      text-align: center;
    }
  }
  &-tbody {
    @include flex-column();
    width: 100%;
    .tr {
      @include flex-row-center();
      width: 100%;
      background-color: $bg-color;
      &:nth-of-type(2n-1) {
        background-color: #fff;
      }
      .td {
        font-size: 24px;
        text-align: center;
        flex: 1;
        padding: 30px 8px;
        color: #333333;
      }
    }
  }
  &-no-data {
    @include flex-row-center-center();
    width: 100%;
    padding: 30px 0;
    font-size: 24px;
    text-align: center;
    color: #666;
  }
  &-default {
    background-color: $bg-color;
    .th,
    .td {
      color: #666666;
    }
  }
}
