@import "./styles/mixin.scss";

page {
  background-color: $bg-color;
  height: 100vh;
}

.b-left-line {
  position: relative;
  &::before {
    @include column-line();
    left: 0;
  }
}
.b-right-line {
  position: relative;
  &::after {
    @include column-line();
    right: 0;
  }
}

.b-bottom-line {
  position: relative;
  &::after {
    @include row-line();
    bottom: 0;
  }
}

.b-top-line {
  position: relative;
  &::before {
    @include row-line();
    top: 0;
  }
}

.b-sub-title {
  position: relative;
  &::before {
    @include column-line();
    position: absolute;
    left: -8px;
    top: 0;
    bottom: 0;
    width: 8px;
    background: #ea4438;
  }
}

.b-arrow-right {
  $arrow: 37px;
  height: 37px;
  width: 37px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./static/image/arrow-right.png);
}

.college-item {
  @include flex-row-center-between();
  padding: 48px 32px;
  margin: 20px 25px 0;
  background: #ffffff;
  box-shadow: 5px 9px 20px 0px rgba(203, 203, 203, 0.2);
  border-radius: 20px;
  &:last-of-type {
    margin: 20px 25px 30px;
  }
  .logo {
    width: 90px;
    height: 90px;
    background: #f9f9f9;
    border-radius: 50%;
  }
  .info {
    @include flex-column();
    flex: 1;
    margin: 0 30px;
    .name {
      font-size: 32px;
      font-weight: 500;
      color: #333333;
      margin-bottom: 8px;
    }
    .labels {
      @include flex-row-center();
      flex-wrap: wrap;
      .label {
        margin-top: 10px;
        background: #f5f5f5;
        padding: 8px 10px;
        font-size: 24px;
        color: #666666;
        margin-right: 10px;
      }
    }
  }
  .local {
    font-size: 26px;
    font-weight: 500;
    color: #ea4438;
  }
}

.b-underline-title {
  font-size: 32px;
  font-weight: bold;
  color: #333333;
  position: relative;
  &::after {
    @include row-line();
    height: 6px;
    bottom: 7px;
    left: -4px;
    right: -4px;
    background-color: $primary-color;
  }
}

.b-vol-page {
  @include flex-column();
  padding-bottom: 120px;
  &-bottom-desc {
    font-size: 24px;
    color: #999999;
    line-height: 36px;
    margin: 20px 25px;
  }
  &-button-group {
    @include flex-row-center();
    margin: 50px 25px 20px;
    height: 100px;
    border-radius: 50px;
    overflow: hidden;
  }
  &-button {
    flex: 1;
    text-align: center;
    height: 100px;
    line-height: 100px;
    color: #ffffff;
    font-weight: bold;
    color: #fffffe;
    font-size: 32px;
    &-right {
      background: #000000;
    }
    &-left {
      @include flex-row-center-center();
      background: rgba(208, 172, 88, 1);
    }
    &-money {
      font-size: 22px;
      margin-top: 4px;
    }
  }
  &-bottom-example {
    font-size: 28px;
    color: #333333;
    text-align: center;
  }
}

.b-form-input {
  padding: 30px;
  width: 420px;
  font-size: 28px;
  height: 1.4rem;
  line-height: 1.4rem;
  color: #666666;
  background: #f9f9f9;
}

.b-vol-comp-no-data {
  @include flex-column-center-center();
  padding: 50px 0;
  &-desc {
    font-size: 24px;
    color: #666666;
  }
  &-btn {
    width: 320px;
    height: 80px;
    background: $primary-bg;
    border-radius: 40px;
    line-height: 80px;
    font-size: 28px;
    font-weight: bold;
    color: $primary-color;
    margin-top: 30px;
    text-align: center;
  }
}

.b-payment {
  &-dialog {
    @include flex-column-center-center();
    height: 100vh;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    &-icon {
      width: 13px;
      height: 19px;
      &:last-of-type {
        transform: rotateY(180deg);
      }
    }
    &-body {
      display: inline-block;
      background: #fefefe;
      border-radius: 20px;
      margin: 0 90px 20px;
      //height: 590px;
      padding: 27px;
    }
    &-main {
      padding: 27px;
      position: relative;
    }
    &-top {
      @include flex-row-center-center();
      margin: 20px 0 47px;
    }
    &-top-title {
      font-size: 32px;
      font-weight: bold;
      color: #333333;
      margin: 0 20px;
    }
    &-content {
      @include flex-column();
      font-size: 28px;
      color: #333333;
      line-height: 40px;
      text-align: center;
      & > text {
        margin-bottom: 20px;
      }
    }
    &-money {
      font-size: 28px;
      font-weight: 500;
      color: #333333;
    }
    &-moneynum {
      font-size: 48px;
      font-weight: 500;
      color: #333333;
    }
    &-desc {
      font-size: 28px;
      font-family: PingFang SC;
      color: #333333;
    }
    &-btn {
      width: 350px;
      height: 80px;
      background: #d0ac58;
      box-shadow: 5px 9px 20px 0px rgba(208, 172, 88, 0.2);
      border-radius: 40px;
      line-height: 80px;
      text-align: center;
      color: $white-color;
      margin: 27px auto;
    }
    &-close-icon {
      position: absolute;
      height: 28px;
      width: 28px;
      right: 20px;
      top: 20px;
    }
  }
}
