@import '../../styles/mixin.scss';

.b-picker-item{
  position: relative;
  width: 100%;
  .picker-group{
    width: 100%;
    @include flex-row-center-between();
  }
  .picker-view{
    padding:30px 12px;
    @include flex-row-center-center();
    .label{
      font-size: 28px;
      font-weight: 500;
      color: #333333;
      margin-right:5px;
      &.on-show{
        color:#EA4438;
      }
    }
    .icon{
      width: 20px;
      height: 20px;
      transition: all 0.2s ease;
      &.up{
        transform: rotate(-180deg);
      }
    }
  }
  .select-view{
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    top:192px;
    left:0;
    right:0;
    bottom:0;
    @include flex-column();
    &::before{
      @include row-line();
      top:0;
    }
  }
  .select-mark{
    background: rgba(0, 0, 0, 0.1);
    flex:1;
  }
  .select-content{
    background-color: #fff;
    @include flex-column();
    padding:0 45px 50px;
    .select-wrap{
      flex:1;
      width: 100%;
    }
    .select-items{
      @include flex-row();
      flex-wrap: wrap;
      max-height: 640px;
      padding-bottom:20px;
      .item{
        width:150px;
        padding:20px 0;
        margin-right:20px;
        background: #F7F7F7;
        color:#333;
        text-align: center;
        margin-top:20px;
        font-size: 26px;
        font-weight: 500;
        &:nth-of-type(4n){
          margin-right: 0;
        }
        &.selected{
          background-color: rgba(234, 68, 56, 0.2);
          color: #EA4438;
        }
      }
    }
    .btn-view{
      @include flex-row-center-between();
      width: 100%;
      margin-top:50px;
      .btn{
        flex:1;
        padding:25px 0;
        border-radius: 20px;
        font-size: 32px;
        font-weight: 500;
        text-align: center;
      }
      .reset{
        background: #F7F7F7;
        color:#333;
        margin-right:20px;
      }
      .submit{
        background: #EA4438;
        color:#fff;
      }
    }
  }
}